.DS_Store
target
notes.md
treesitter/tree-sitter-haml
treesitter/tree-sitter-typescript
treesitter/tree-sitter-embedded-template

# Python
venv
__pycache__
*.db
*.egg-info

#Ruby

/.bundle

/.env*

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/config/master.key

# Others
.vscode
.qodo

#fastembed-js
local_cache