/target
.DS_Store
examples/whisker
notes.md
examples/*.json
!examples/repo2graph.json
examples/sphinx-tribes
examples/sphinx-tribes-frontend
examples/next-example
examples/ruby
.ruby-lsp
examples/senza-lnd
examples/campsite
examples/cabal
examples/**/*.json
examples/**/*.jsonl
examples/cabal-routes.txt

node_modules
dist
package-lock.json

# CPP
people.db
server
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles